
BODY,DIV,TABLE,THEAD,TBODY,TFOOT,TR,TH,TD,P,ul,li{ 
  font-family:"Times New Roman"; font-size:x-small ;
}

body{
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

SVG {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h1 h3 p a div{ 
      text-align: center;
  }   

.container {
      display: flex;
      justify-content: center;
      align-items: center;
    }

svg,script {
      margin:  auto;  /* ボックス中央寄せ */
  }